*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

img{
    max-width: 100%;
}

:root{
    --width-square:300px;
    
}

.relative-ms{

    position: relative;
}

 .overlay-ms{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100vh;
    z-index: 3;
    
    
}  

.img-overlay-ms{

    position: absolute;
    
    left: 42%;
    top: 42%;
    
    
} 

.btn-close-ms{
    position: absolute;
    left: 49%;
    top: 37%;
    
}
/* header */
h1{

    font-size: 5rem;
    font-family: "Sometype Mono", monospace;
    padding-top: 4vh;
 
}

.wall-bg{
    background-image: url(../img/wall.png);
    height: 15vh;
    width: 100%;

}


/* body */

.cork-bg{
    background-image: url(../img/cork.png);
    min-height: 85vh;
    width: 100%;
    
}

.card-ms{
    background-color: white;
    width: 350px;
    height: 380px;
    padding: 0 10px;
}

.pin-ms{
    margin: -10px 0 -10px 49%;
    position: relative;
    z-index: 2;
    
}

.square-ms{

    width: var(--height-square);
    height: var(--height-square);
    margin: 0 0 0 15px;

}

.card-text-ms{
    font-family: "Edu TAS Beginner", serif;
    padding: 10px 0 0 15px;
    
}

